body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'IBM Plex Mono', source-code-pro, Menlo, Monaco, Consolas,
		'Courier New', monospace;
}

html,
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-y: hidden;
}

.App {
	text-align: left;
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

main {
	margin: 0 auto;
	max-width: 650px;
	padding: 1.2rem;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: white;
	/* min-height: 100vh; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: black;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
	input[type='checkbox'],
	input[type='radio'] {
		-webkit-appearance: none;
		-moz-appearance: none;
	}
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

input {
	border: 0;
	outline: 0;
	min-width: 650px;
	/* background: transparent; */
	/* border-bottom: 1px solid black; */
	font-size: 1.8em;
}

@media screen and (max-width: 600px) {
	input {
		min-width: 60vw;
	}
}
